ul {
  padding: 0;
  list-style: none; }

.hidden {
  display: none; }

.wait {
  width: 150px;
  margin: auto;
  text-align: center; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 60px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #50beb7;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

footer {
  background-color: #292b2c;
  color: white;
  position: relative;
  padding: 15px; }
  footer .reference {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 10px;
    padding: 15px;
    font-style: italic; }
  footer h2 {
    font-size: 14px; }
  footer .link_footer {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 15px;
    font-size: 14px; }
    footer .link_footer ul {
      margin: 0;
      margin-right: 20px; }
      footer .link_footer ul li {
        font-size: 16px;
        margin-right: 10px;
        display: inline-block; }

.title.border_center {
  position: relative;
  text-align: center;
  width: 70%;
  margin: auto; }
  .title.border_center:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: black;
    z-index: -1;
    left: 0; }
  .title.border_center span {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: white;
    z-index: 10;
    text-align: center;
    padding: 0 5%; }

.slick-arrow {
  position: absolute;
  top: 50%; }
  .slick-arrow.fa-chevron-right {
    right: -20px; }
  .slick-arrow.fa-chevron-left {
    left: -20px; }

.wrapper_container {
  margin-top: 56px; }
  .wrapper_container > section {
    margin-top: 40px; }

.banner {
  overflow: hidden;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/banner.jpg"); }
  .banner .title {
    text-align: center;
    margin: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px 40px;
    color: black;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
    box-shadow: 1.5px 2.598px 6px 0 #424242;
    -webkit-transition-duration: .4s;
    transition-duration: .4s; }
    .banner .title .top_title {
      text-transform: uppercase; }
    .banner .title .sub_title {
      text-transform: lowercase;
      font-size: 2rem; }

#skills {
  margin-top: -140px; }
  #skills > .title {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    color: white; }
  #skills .view_project {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #6a8293; }
  #skills .wrapper_skill {
    margin: 0;
    margin-bottom: 20px;
    color: white; }
    #skills .wrapper_skill.lg-size {
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
      box-shadow: 1.5px 2.598px 6px 0 #d4d7df; }
    #skills .wrapper_skill.md-size .container_content {
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
      box-shadow: 1.5px 2.598px 6px 0 #d4d7df; }
    #skills .wrapper_skill .container_gif {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden; }
      #skills .wrapper_skill .container_gif:before, #skills .wrapper_skill .container_gif:after {
        content: "";
        display: block;
        background-color: #292b2c;
        position: absolute;
        top: -25%;
        right: -75%;
        width: 100%;
        height: 100%;
        -ms-transform: rotate(65deg);
        /* IE 9 */
        -webkit-transform: rotate(65deg);
        /* Chrome, Safari, Opera */
        transform: rotate(65deg); }
      #skills .wrapper_skill .container_gif:after {
        content: "";
        display: block;
        background-color: #292b2c;
        position: absolute;
        bottom: -25%;
        right: -75%;
        top: inherit;
        width: 100%;
        height: 100%;
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-65deg); }
    #skills .wrapper_skill .container_content {
      background-color: #292b2c;
      padding: 25px 32px; }
      #skills .wrapper_skill .container_content .title {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 10px; }
      #skills .wrapper_skill .container_content .desc {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px; }
      #skills .wrapper_skill .container_content .list_picto {
        list-style: none;
        padding: 0;
        border-left: 1px solid white;
        font-size: 13px;
        text-transform: uppercase;
        width: 80%;
        margin-left: 0px;
        color: #6a8293;
        font-style: italic; }
        #skills .wrapper_skill .container_content .list_picto li {
          display: inline-block;
          margin: 0px 15px; }
    #skills .wrapper_skill > .col-md-6 .container_content {
      background-color: #50beb7; }
    #skills .wrapper_skill > .col-md-6:first-child {
      padding-left: 0; }
    #skills .wrapper_skill > .col-md-6:last-child {
      padding-right: 0; }

#xp {
  padding: 40px 0px; }
  #xp .title {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px; }
  #xp .list_xp li {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  #xp .list_xp li[data-id] {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    height: 150px; }
  #xp .list_xp img {
    cursor: pointer;
    margin: auto;
    max-height: 100px;
    max-width: 80%; }
  #xp .content_more {
    position: relative;
    margin: auto;
    margin-top: 25px; }
    #xp .content_more > .row {
      width: 90%;
      margin: auto;
      padding-top: 20px;
      padding: 20px 30px;
      border-top: 1px solid white; }
    #xp .content_more img {
      max-width: 100%; }
    #xp .content_more .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
      z-index: 1; }

#hobbies {
  background-image: url("../img/wall_perso.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 40px 0px;
  margin-top: 0px; }
  #hobbies .title {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
    color: white;
    position: relative; }
    #hobbies .title a {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: auto;
      font-size: inherit; }
  #hobbies .list_hobbies {
    margin-top: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    font-style: italic; }
    #hobbies .list_hobbies .hobbie .fa {
      cursor: pointer;
      font-size: 35px;
      display: inline-block;
      margin-bottom: 10px;
      padding: 20px;
      background-color: #292b2c;
      border-radius: 50%;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
      box-shadow: 1.5px 2.598px 6px 0 #424242;
      border-radius: 50%;
      -webkit-transition-duration: .4s;
      transition-duration: .4s; }
  #hobbies .wrapper_hobbies {
    margin-top: 35px; }
    #hobbies .wrapper_hobbies .sub_title {
      text-transform: uppercase; }
  #hobbies .btn_cv {
    font-size: 45px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%; }
    #hobbies .btn_cv .fa {
      color: white; }
  #hobbies .citation {
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    width: 80%; }

#contact {
  background-color: #50beb7;
  padding: 40px 0px; }
  #contact .title {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    color: white; }
  #contact form textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    box-shadow: 1.5px 2.598px 6px 0 #949596 inset; }
  #contact form input, #contact form select, #contact form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    box-shadow: 1.5px 2.598px 6px 0 #949596 inset; }
  #contact form button {
    text-align: center;
    background-color: #292b2c;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
    box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
    color: white; }

#feed .wrapper_feed {
  margin-top: 40px;
  position: relative; }
  #feed .wrapper_feed .list_cat_feed {
    position: absolute;
    top: 0px;
    left: -35px;
    cursor: pointer; }
  #feed .wrapper_feed li.block_feed {
    background-color: #292b2c;
    color: white;
    position: relative;
    margin-bottom: 30px;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
    box-shadow: 1.5px 2.598px 6px 0 #424242; }
    #feed .wrapper_feed li.block_feed .picto {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px; }
    #feed .wrapper_feed li.block_feed .title_post {
      padding: 15px 0;
      font-size: 16px; }
    #feed .wrapper_feed li.block_feed .data-post {
      position: absolute;
      bottom: 15px;
      right: 15px; }
      #feed .wrapper_feed li.block_feed .data-post p {
        margin: 0; }
    #feed .wrapper_feed li.block_feed .back_img_post {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 80px; }
      #feed .wrapper_feed li.block_feed .back_img_post .title_post {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        font-size: 16px;
        color: white; }
    #feed .wrapper_feed li.block_feed .content {
      padding: 15px;
      padding-bottom: 45px;
      font-size: 14px;
      line-height: 16px; }

/*# sourceMappingURL=style.css.map */
