@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  font: 300 15px 'Montserrat', Helvetica, Arial, sans-serif; }
  body b, body strong {
    font-weight: bold; }
  body a {
    color: white; }
    body a:hover, body a:focus {
      color: white; }

ul {
  padding: 0;
  list-style: none; }

.hidden {
  display: none; }

.wait {
  width: 150px;
  margin: auto;
  text-align: center; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 60px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #50beb7;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

footer {
  background-color: #292b2c;
  color: white;
  position: relative;
  padding: 15px; }
  footer .reference {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 10px;
    padding: 15px;
    font-style: italic; }
  footer h2 {
    font-size: 14px; }
  footer .link_footer {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 15px;
    font-size: 14px; }
    footer .link_footer ul {
      margin: 0;
      margin-right: 20px; }
      footer .link_footer ul li {
        font-size: 16px;
        margin-right: 10px;
        display: inline-block; }

.title.border_center {
  text-align: center;
  margin: auto;
  font-family: 'Poppins', sans-serif; }
  .title.border_center span {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #b5b1b1;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5em; }

.slick-arrow {
  position: absolute;
  top: 50%; }
  .slick-arrow.fa-chevron-right {
    right: -20px; }
  .slick-arrow.fa-chevron-left {
    left: -20px; }

.navbar-nav li {
  position: relative; }
.navbar-nav li + li {
  padding-left: 25px; }
  .navbar-nav li + li:before {
    position: absolute;
    left: 0;
    content: ".";
    color: #50beb7;
    font-weight: bold;
    padding: .5em;
    font-size: 22px;
    line-height: 10px; }

.nav-top {
  background-color: rgba(0, 0, 0, 0.33); }
  .nav-top.navbar-inverse .navbar-nav .nav-link {
    color: white; }
  .nav-top.navbar-inverse .navbar-nav .active > .nav-link, .nav-top.navbar-inverse .navbar-nav .nav-link.active, .nav-top.navbar-inverse .navbar-nav .nav-link.open, .nav-top.navbar-inverse .navbar-nav .open > .nav-link {
    color: #a5a39f; }
  .nav-top .nav-link {
    color: white;
    position: relative;
    display: inline-block; }
  .nav-top li + li {
    padding-left: 20px; }
    .nav-top li + li:before {
      position: absolute;
      left: 0;
      content: ".";
      color: #50beb7; }

.nav-link {
  display: inline-block;
  color: #a5a39f; }
  .nav-link.logo {
    background-color: rgba(0, 0, 0, 0.48);
    font-weight: bold; }

.wrapper_container > section {
  margin-top: 40px; }

.banner {
  padding-top: 56px;
  overflow: hidden;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/banner.jpg"); }
  .banner .title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 150px 150px 300px 150px;
    background-color: rgba(255, 255, 255, 0.72);
    padding: 50px 40px;
    color: #040404;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
    box-shadow: 1.5px 2.598px 6px 0 #424242;
    -webkit-transition-duration: .4s;
    transition-duration: .4s; }
    .banner .title .btn {
      margin-top: 40px;
      padding: .7rem 3rem;
      border-radius: 0;
      background-color: rgba(249, 249, 249, 0.68);
      text-transform: uppercase;
      font-weight: 200;
      font-size: 13px;
      cursor: pointer;
      color: black; }
    .banner .title .top_title {
      text-transform: uppercase;
      letter-spacing: 6.8px; }
    .banner .title .sub_title {
      text-transform: lowercase;
      font-size: 1.8rem;
      font-weight: 200; }

#skills {
  margin-top: -140px;
  margin-bottom: 60px; }
  #skills > .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5em; }
  #skills .view_project {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #6a8293; }
  #skills .wrapper_skill {
    margin: 0;
    margin-bottom: 30px;
    color: white; }
    #skills .wrapper_skill.lg-size {
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
      box-shadow: 1.5px 2.598px 6px 0 #d4d7df; }
    #skills .wrapper_skill.md-size .container_content {
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
      box-shadow: 1.5px 2.598px 6px 0 #d4d7df; }
    #skills .wrapper_skill .container_gif {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden; }
      #skills .wrapper_skill .container_gif:before, #skills .wrapper_skill .container_gif:after {
        content: "";
        display: block;
        background-color: #292b2c;
        position: absolute;
        top: -58%;
        right: -75%;
        width: 100%;
        height: 100%;
        -ms-transform: rotate(65deg);
        /* IE 9 */
        -webkit-transform: rotate(65deg);
        /* Chrome, Safari, Opera */
        transform: rotate(65deg); }
      #skills .wrapper_skill .container_gif:after {
        content: "";
        display: block;
        background-color: #292b2c;
        position: absolute;
        bottom: -25%;
        right: -75%;
        top: inherit;
        width: 101%;
        height: 100%;
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-65deg); }
    #skills .wrapper_skill .container_content {
      background-color: #292b2c;
      padding: 50px 100px;
      padding-left: 43px; }
      #skills .wrapper_skill .container_content .title {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 30px;
        position: relative; }
      #skills .wrapper_skill .container_content .desc {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
        font-weight: 100; }
      #skills .wrapper_skill .container_content .list_picto {
        list-style: none;
        padding: 0;
        border-left: 1px solid white;
        font-size: 13px;
        text-transform: uppercase;
        width: 80%;
        margin-left: 0px;
        color: #6a8293;
        font-style: italic; }
        #skills .wrapper_skill .container_content .list_picto li {
          display: inline-block;
          margin: 0px 15px;
          cursor: pointer; }
    #skills .wrapper_skill > .col-md-6 .container_content {
      background-color: #50beb7;
      height: 100%; }
    #skills .wrapper_skill > .col-md-6:first-child {
      padding-left: 0; }
    #skills .wrapper_skill > .col-md-6:last-child {
      padding-right: 0; }

#xp {
  padding: 60px 0px; }
  #xp .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: .4em; }
  #xp .list_xp li {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  #xp .list_xp li[data-id] {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    height: 150px; }
  #xp .list_xp img {
    cursor: pointer;
    margin: auto;
    max-height: 100px;
    max-width: 80%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    #xp .list_xp img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
  #xp .content_more {
    position: relative;
    margin: auto;
    margin-top: 25px; }
    #xp .content_more > .row {
      width: 90%;
      margin: auto;
      padding-top: 20px;
      padding: 20px 30px;
      border-top: 1px solid white; }
    #xp .content_more img {
      max-width: 100%; }
    #xp .content_more .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
      z-index: 1; }

.wrapper_bg_image.hover_zoom {
  overflow: hidden; }

.wrapper_bg_image.hover_zoom:hover .background_image {
  transform: scale(1.1); }

.background_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all .5s; }

.project-skills {
  position: relative;
  margin-bottom: 30px; }
  .project-skills:hover .wrapper-info-pojet {
    top: 225px; }

.wrapper-fiche-projet {
  min-height: 300px;
  padding: 30px;
  background-position: top; }

.wrapper-info-pojet {
  transition: all .5s;
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  padding: 25px;
  height: calc(100% - 50px);
  background-color: #50beb7c9; }
  .wrapper-info-pojet .title {
    font-size: 25px;
    margin-bottom: 25px;
    color: white; }
  .wrapper-info-pojet .list_skill {
    list-style: none;
    padding: 0;
    border-left: 1px solid white;
    font-size: 13px;
    text-transform: uppercase;
    width: 80%;
    margin-left: 0px;
    color: #292b2c;
    font-style: italic; }
    .wrapper-info-pojet .list_skill li {
      display: inline-block;
      margin: 0px 15px;
      cursor: pointer; }

#hobbies {
  background: url(../img/wall_perso.jpg) center 0 no-repeat fixed;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 60px 0px;
  margin-top: 0px; }
  #hobbies .photo_perso {
    text-align: right; }
    #hobbies .photo_perso img {
      border-radius: 500px;
      border: 4px solid #80808087;
      max-width: 100%;
      width: 150px; }
  #hobbies .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: .4em; }
    #hobbies .title a {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: auto;
      font-size: inherit; }
    #hobbies .title.sub {
      margin-bottom: 30px;
      margin-top: 50px;
      text-align: left;
      position: relative; }
      #hobbies .title.sub:before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        width: 60px;
        bottom: -10px;
        left: 0px;
        background-color: white; }
  #hobbies .small-3 {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-top: 12px; }
  #hobbies .wrapper-fiche-projet {
    padding: 15px;
    background-color: #50beb7;
    height: 100%;
    box-shadow: 1.5px 2.598px 6px 0 #424242; }
  #hobbies .title_projet {
    margin-bottom: 21px;
    font-size: 17px; }
    #hobbies .title_projet:hover {
      color: white; }
  #hobbies .contant_presentation {
    padding-left: 50px;
    position: relative; }
    #hobbies .contant_presentation:before {
      content: "";
      position: absolute;
      display: block;
      height: 5px;
      width: 27px;
      top: 13px;
      left: 0px;
      background-color: white; }
  #hobbies .citation {
    margin-top: 40px; }
  #hobbies .list_hobbies {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    font-style: italic; }
    #hobbies .list_hobbies .hobbie .fa {
      cursor: pointer;
      font-size: 35px;
      display: inline-block;
      padding: 20px; }
  #hobbies .wrapper_hobbies {
    margin-top: 0px; }
    #hobbies .wrapper_hobbies .sub_title {
      text-transform: uppercase; }
  #hobbies .btn_cv {
    font-size: 45px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%; }
    #hobbies .btn_cv .fa {
      color: white; }
  #hobbies .citation {
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    width: 80%; }

#contact {
  background-color: #50beb7;
  padding: 60px 0px; }
  #contact .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #292b2c;
    font-size: 15px;
    text-align: center;
    letter-spacing: .4em; }
  #contact .content {
    color: #515556 !important;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 25px; }
    #contact .content .up {
      color: white;
      font-size: 35px;
      font-weight: 700;
      line-height: initial; }
  #contact form textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    box-shadow: 1.5px 2.598px 6px 0 #949596 inset; }
  #contact form input, #contact form select, #contact form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    box-shadow: 1.5px 2.598px 6px 0 #949596 inset; }
  #contact form button {
    text-align: center;
    background-color: #292b2c;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
    box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
    color: white; }

#feed .wrapper_feed {
  margin-top: 70px;
  position: relative; }
  #feed .wrapper_feed .list_cat_feed {
    position: absolute;
    top: 0px;
    left: -35px;
    cursor: pointer; }
  #feed .wrapper_feed li.block_feed {
    background-color: #292b2c;
    color: white;
    position: relative;
    margin-bottom: 30px;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 #d4d7df;
    box-shadow: 1.5px 2.598px 6px 0 #424242;
    overflow: hidden; }
    #feed .wrapper_feed li.block_feed .picto {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px; }
    #feed .wrapper_feed li.block_feed .title_post {
      padding: 15px 0;
      font-size: 16px; }
    #feed .wrapper_feed li.block_feed .data-post {
      position: absolute;
      bottom: 15px;
      right: 15px; }
      #feed .wrapper_feed li.block_feed .data-post p {
        margin: 0; }
    #feed .wrapper_feed li.block_feed .back_img_post {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 115px; }
      #feed .wrapper_feed li.block_feed .back_img_post .title_post {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        font-size: 15px;
        color: white;
        font-weight: 400;
        letter-spacing: .4px; }
    #feed .wrapper_feed li.block_feed .content {
      margin: 30px;
      padding-bottom: 45px;
      font-size: 12px;
      line-height: 16px;
      overflow: hidden;
      font-weight: 200; }

@media screen and (max-width: 780px) {
  .banner {
    min-height: 390px; }
    .banner .title {
      margin: 5%; }
      .banner .title .top_title {
        font-size: 36px; }
      .banner .title .sub_title {
        text-transform: lowercase;
        font-size: 22px; }

  .nav-link.logo {
    display: none; }

  .navbar-nav li + li {
    padding-left: 0px; }
    .navbar-nav li + li:before {
      content: none; }

  #skills > .title, #hobbies .title, #xp .title, .title.border_center, #contact .title {
    font-size: 25px; }

  #skills .wrapper_skill > .col-md-6:first-child, #skills .wrapper_skill > .col-md-6:last-child {
    padding-right: 0px;
    padding-left: 2px; }

  #skills .wrapper_skill > .col-md-6:first-child {
    margin-bottom: 20px; }

  #skills .wrapper_skill .container_gif {
    height: 150px; }
    #skills .wrapper_skill .container_gif:after, #skills .wrapper_skill .container_gif:before {
      content: none; }

  #skills .wrapper_skill .container_content {
    padding: 15px 15px 50px; }
    #skills .wrapper_skill .container_content .desc {
      font-size: 14px;
      line-height: 17px; }

  #skills .wrapper_skill > .col-md-6 .container_content {
    padding: 15px 15px 15px; }

  #hobbies {
    background-position: right; }
    #hobbies .contant_presentation {
      line-height: 18px; }
    #hobbies .list_hobbies .hobbie .fa {
      font-size: 24px;
      padding: 18px; }

  #contact form input, #contact form select, #contact form button {
    margin-top: 11px; }

  footer {
    padding-bottom: 50px; }

  .slick-slider {
    margin: 0 20px; } }

/*# sourceMappingURL=style.css.map */
