@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$back-black: #292b2c;
$back-color2: #50beb7;


body {
  font: 300 15px 'Montserrat', Helvetica, Arial, sans-serif;
  b, strong {
    font-weight: bold;
  }
  a{
    color: white;
  }
}

ul{
  padding: 0;
  list-style: none;
}
.hidden{
  display: none;
}
.wait{
  width: 150px;
  margin: auto;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $back-color2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



footer{
  background-color: $back-black;
  color: white;
  position: relative;
  padding: 15px;
  .reference{
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 10px;
    padding: 15px;
    font-style: italic;
  }
  h2{
    font-size: 14px;
  }
  .link_footer{
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 15px;
    font-size: 14px;
    ul{
      margin: 0;
      margin-right: 20px;

      li{
        font-size: 16px;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}


.title.border_center {
  text-align: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  span{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #b5b1b1;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5em;
  }
}

.slick-arrow{
  position: absolute;
  top: 50%;
  &.fa-chevron-right{
    right: -20px;
  }
  &.fa-chevron-left{
    left: -20px;
  }
}

.navbar-nav{
  li{
    position: relative;
  }
  li+li{
    padding-left: 25px;
    &:before{
      position: absolute;
      left: 0;
      content: ".";
      color: #50beb7;
      font-weight: bold;
      padding: .5em;
      font-size: 22px;
      line-height: 10px;
    }
  }
}

.nav-top{
  background-color: rgba(0, 0, 0, 0.33);
  &.navbar-inverse .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
  }
  &.navbar-inverse .navbar-nav .active>.nav-link,
  &.navbar-inverse .navbar-nav .nav-link.active,
  &.navbar-inverse .navbar-nav .nav-link.open,
  &.navbar-inverse .navbar-nav .open>.nav-link {
    color: rgb(165, 163, 159);
  }
  .nav-link{
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
  }
  li+li{
    padding-left: 20px;
    &:before{
      position: absolute;
      left: 0;
      content: ".";
      color: #50beb7;
    }
  }
}
.nav-link{
  color: rgb(165, 163, 159);
  &.logo{
    background-color: rgba(0, 0, 0, 0.48);
    font-weight: bold;
  }
}

.wrapper_container{
  > section{
    margin-top: 40px;
  }
}

.banner{
  padding-top: 56px;  //height nav
  overflow: hidden;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/banner.jpg");
  .title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 150px 150px 300px 150px;
    background-color: rgba(255, 255, 255, 0.72);
    padding: 50px 40px;
    color: #040404;
    -webkit-box-shadow: 1.5px 2.598px 6px 0 rgb( 212, 215, 223 );
    box-shadow: 1.5px 2.598px 6px 0 rgb(66, 66, 66);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    .btn{
      margin-top: 40px;
      padding: .7rem 3rem;
      border-radius: 0;
      background-color: rgba(249, 249, 249, 0.68);
      text-transform: uppercase;
      font-weight: 200;
      font-size: 13px;
      cursor: pointer;
      color: black;
    }
    .top_title{
      text-transform: uppercase;
      letter-spacing: 6.8px;
    }
    .sub_title{
      text-transform: lowercase;
      font-size: 1.8rem;
      font-weight: 200;
    }
  }
}

#skills{
  margin-top: -140px;
  > .title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5em;
  }
  .view_project{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #6a8293;
  }
  .wrapper_skill{
    margin: 0;
    margin-bottom: 20px;
    color: white;
    &.lg-size {
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 rgb(212, 215, 223);
      box-shadow: 1.5px 2.598px 6px 0 rgb(212, 215, 223);
    }
    &.md-size .container_content{
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 rgb(212, 215, 223);
      box-shadow: 1.5px 2.598px 6px 0 rgb(212, 215, 223);
    }
    .container_gif{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden;
      &:before , &:after{
        content: "";
        display: block;
        background-color: $back-black;
        position: absolute;
        top: -58%;
        right: -75%;
        width: 100%;
        height: 100%;
        -ms-transform: rotate(65deg); /* IE 9 */
        -webkit-transform: rotate(65deg); /* Chrome, Safari, Opera */
        transform: rotate(65deg);
      }
      &:after{
        content: "";
        display: block;
        background-color: $back-black;
        position: absolute;
        bottom: -25%;
        right: -75%;
        top: inherit;
        width: 101%;
        height: 100%;
        -ms-transform: rotate(-65deg); /* IE 9 */
        -webkit-transform: rotate(-65deg); /* Chrome, Safari, Opera */
        transform: rotate(-65deg);
      }
    }
    .container_content{
      background-color: $back-black;
      padding: 35px 32px;
      padding-left: 21px;
      .title{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
        position: relative;
      }
      .desc{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
        font-weight: 100;

      }
      .list_picto{
        list-style: none;
        padding: 0;
        border-left: 1px solid white;
        font-size: 13px;
        text-transform: uppercase;
        width: 80%;
        margin-left: 0px;
        color: #6a8293;
        font-style: italic;
        li{
          display: inline-block;
          margin: 0px 15px;
          cursor: pointer;
        }
      }
    }
    > .col-md-6 .container_content{
      background-color: $back-color2;
      height: 100%;

    }
    > .col-md-6:first-child{
      padding-left: 0;
    }
    > .col-md-6:last-child{
      padding-right: 0;
    }
  }
}

#xp{
  padding: 40px 0px;
  .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: .4em;
  }
  .list_xp{
    li{
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    li[data-id]{
      background-color: rgba(255,255,255,0.2);
      padding: 8px;
      height: 150px;
    }
    img{
      cursor: pointer;
      margin: auto;
      max-height: 100px;
      max-width: 80%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
  .content_more{
    position: relative;
    margin: auto;
    margin-top: 25px;
    > .row{
      width: 90%;
      margin: auto;
      padding-top: 20px;
      padding: 20px 30px;
      border-top: 1px solid white;

    }
    img{
      max-width: 100%;
    }
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
      z-index: 1;
    }
  }
}

#hobbies{
  background: url(../img/wall_perso.jpg) center 0 no-repeat fixed;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 40px 0px;
  margin-top: 0px;

  .title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: .4em;
    a{
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: auto;
      font-size: inherit;
    }
    &.sub{
      margin-bottom: 30px;
      margin-top: 50px;
      text-align: left;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        width: 60px;
        bottom: -10px;
        left: 0px;
        background-color: white;
      }
    }
  }
  .small-3{
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-top: 12px;
  }

  .wrapper-fiche-projet{
    padding: 15px;
    background-color: #50beb7fc;
    height: 100%;
    box-shadow: 1.5px 2.598px 6px 0 #424242;
  }

  .title_projet{
    margin-bottom: 21px;
    font-size: 17px;
    &:hover{
      color: white;
    }
  }

  .contant_presentation{
    padding-left: 50px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      display: block;
      height: 5px;
      width: 27px;
      top: 13px;
      left: 0px;
      background-color: white;
    }
  }
  .citation{
    margin-top: 40px;
  }

  .list_hobbies{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
    .hobbie .fa{
      cursor: pointer;
      font-size: 35px;
      display: inline-block;
      padding: 20px;

    }
  }

  .wrapper_hobbies{
    margin-top: 0px;
    .sub_title{
      text-transform: uppercase;

    }
  }
  .btn_cv{
    font-size: 45px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    .fa{
      color: white;
    }
  }
  .citation{
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    width: 80%;
  }
  .contant_presentation{

  }
}

#contact{
  background-color: $back-color2;
  padding: 40px 0px;
  border-top: 6px solid #292b2c;
  .title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #292b2c;
    font-size: 15px;
    text-align: center;
    letter-spacing: .4em;
  }
  .content{
    color: #515556 !important;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 25px;

    .up{
      color: white;
      font-size: 35px;
      font-weight: 700;
      line-height: initial;
    }
  }
  form{
    textarea{
      width: 100%;
      height: 100%;
      padding: 20px;
      border: 0;
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
      box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    }

    input,select,button{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 0;
      border-radius: 0;
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
      box-shadow: 1.5px 2.598px 6px 0 #949596 inset;
    }
    button{
      text-align: center;
      background-color: $back-black;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
      box-shadow: 1.5px 2.598px 6px 0 #414244 inset;
      color: white;
    }

  }
}

#feed{
  .wrapper_feed{
    margin-top: 70px;
    position: relative;
    .list_cat_feed{
      position: absolute;
      top: 0px;
      left: -35px;
      cursor: pointer;
    }
    li.block_feed {
      background-color: #292b2c;
      color: white;
      position: relative;
      margin-bottom: 30px;
      -webkit-box-shadow: 1.5px 2.598px 6px 0 rgb( 212, 215, 223 );
      box-shadow: 1.5px 2.598px 6px 0 rgb(66, 66, 66);
      overflow: hidden;
      .picto{
        position: absolute;
        top:15px;
        right: 15px;
        font-size: 25px;
      }
      .title_post{
        padding: 15px 0;
        font-size: 16px
      }

      .data-post{
        position: absolute;
        bottom: 15px;
        right: 15px;
        p{
          margin: 0;
        }
      }
      .back_img_post{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 115px;
        .title_post{
          padding: 15px;
          background-color: rgba(0, 0, 0, 0.6);
          text-transform: uppercase;
          font-size: 15px;
          color: white;
          font-weight: 400;
          letter-spacing: .4px;
        }
      }
      .content{
        margin: 30px;
        padding-bottom: 45px;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        font-weight: 200;
      }
    }
  }
}

@import "style_780";